#portCardContainer{
    position: fixed;
    /* bottom: 10vh;
    left: 100; */
}

img {
    height: 30vh;
    display: block;
}

.portCard{
    position: relative;
    display: grid;
    justify-items: center;
    border: inset grey 2px;
    border-radius: 10px;
    margin: 2vh 2vw;
    padding: 3vh 3vw;
    background: rgba(128, 128, 128, 0.741);
}

.portCardTitle{
    position: absolute;
    text-align: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.644);

}
#portTitle{
    grid-row: 1;
    grid-column: 1/4;
    justify-self: right;
    margin-bottom: 5vh;
  }

a {
    color: #33C3F7;
    font-size: 5vh;
    /* display: block; */
}

a:hover {
    cursor: crosshair;
    text-shadow: -2px -2px 2px #FF4C3F;
    color: black;
}

a:active {
    color: black;
    opacity: .85;
    text-shadow: -2px -2px 2px #33C3F7;
}

#appearContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    scale: .25;
}
#appearContainer p {
    grid-column: 1/3;
}
p{
    margin: 2vh 0;
}
#portClose {
    position: absolute;
    display: grid;
    justify-items: center;
    align-items: center;
    top: 0vh;
    right: 1vw;
    font-size: calc((5vw + 5vh) / 2);
    font-weight: 800;
    color: black;
}
#portClose:hover{
    opacity: .8;
    color: #FF4C3F;
    cursor: crosshair;
    z-index: 500;
}
#portClose:active{
    opacity: .9;
    color: #33C3F7;
}