/* fonts ================================================== */
/* font-family: 'Reenie Beanie', cursive;
font-family: 'Unkempt', cursive;
font-family: 'Megrim', cursive;
font-family: 'Barlow', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Neucha', cursive; */



html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  /* background: green; */
  color: white;
  font-family: 'Lato', sans-serif;
  font-display: fallback;
  font-weight: 400;
  scroll-behavior: 
}
body a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 100px;
  font-weight: 800px;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000; 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -10;
}

#swipetonav{
  position: fixed;
  width: 100%;
  font-size: 12vw;
  top: calc(50% - 7vw);
  text-align: center;
  color: #33C3F7;
}

.circleBase {
  border-radius: 50%;
}

#navMenuBtn{
  display: flex;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  align-content: center;
  justify-content: center;
}

.pageText{
  font-size: 30px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

/*Key Frames ==========================================================================*/
@keyframes rollLeft {
  0% {
    transform: translateX(200%) rotate(180deg);
    /* opacity: 0; */
  }
  100% {
    transform: translateX(0) rotate(0deg);
    /* opacity: 1; */
  }
}

@keyframes shrink {
  0% {
    width: 0%;
  }
  100% {
    width: 200%;
  }
}

@keyframes tada {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fallDown {
  0% {
    transform: translateX(200%) rotate(180deg);
  }
  40% {
    transform: translateX(0) rotate(0deg) translateY(100px);
  }
  50%{
    transform: translateY(100px) ;
  }
  70%{
    transform: translateY(100px) rotate(200deg); 
    transform-origin: 20%;
  }
  /* 75%{
    transform: translateY(100px) rotate(150deg); 
    transform-origin: 20%;
  } */
  100%{
    transform: translateY(1000%);
  }
}


/*Page Specific Styling =================================================================*/
.pointerHover:hover{
  cursor: crosshair;
}



#testdiv {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  /* z-index: 1; */
}
.navGuide{
  font-size: 20px;
  color: #33C3F7;

}
#navGuide-L{ 
  position: absolute;
  top: calc(50% - 25px);
  left: 0px;
}
#navGuide-R{ 
  position: absolute;
  top: calc(50% - 25px);
  right: 0px;
}
#navGuide-U{ 
  position: absolute;
  width: 100%;
  text-align: center;
  top: -10px;
}
#navGuide-D{ 
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: -10px;
}


/* Making Arrows =============================================== */
i{
  position: 'fixed';
  border: solid;
  border-width: 0 5px 5px 0;
  height: 50px;
  width: 50px;
  display: inline-block;
  z-index: 500;
}
.left {
  position: fixed;
  top: calc(50% - 50px);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#l div{
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  transform: rotate(90deg);
}
.right {
  position: fixed;
  top: calc(50% - 50px);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#r div{
  position: absolute;
  top: calc(50% - 13px);
  right: 15px;
  transform: rotate(-90deg);
}
.up{
  position: fixed;
  margin-left: -30px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#u div{
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: center;
}
.down{
  position: fixed;
  margin-left: -30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#d div{
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
}

#leftBtnContainer, #rightBtnContainer {
  position: fixed;
  top: calc(50% - 25px);
  z-index: 100;
  opacity: .2
}

#leftBtnContainer:hover, #rightBtnContainer:hover {
  opacity: 1;
  transition: opacity ease-in-out .4s;
  cursor: crosshair;
}
#leftBtnContainer:active, #rightBtnContainer:active {
  opacity: .5;
}


#leftBtn:active, #rightBtn:active {
  box-shadow: 2px 2px 4px 0 #33C3F7;
}



#leftBtnContainer {
  left: 5vw;
}
#rightBtnContainer {
  right: 5vw;
}

#leftBtn {
  transform: rotate(135deg);
  border-color: #33C3F7;
}
#rightBtn {
  transform: rotate(-45deg);
  border-color: #33C3F7;
}
#leftBtnLabel , #rightBtnLabel {
  top: calc(50% - 25px);
  color: #33C3F7;
}
#leftBtnLabel {
  left: 5vw;
  transform: translateY(-35px) translateX(20px);
}
#rightBtnLabel {
  right: 5vw;
  transform: translateY(-35px) translateX(-20px);
}

/* contact page ================================================================ */
#contactf{
  z-index: 1000;
}
#modal{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: goldenrod;
  width: 70%;
  height: 40%;
  top: calc(50% - 20%);
  left: calc(50% - 35%);
  z-index: 1000;
  border-radius: 8px;
  /* border: 1px solid white;
  -moz-box-shadow:    7px 7px 5px -2px #ccc;
  -webkit-box-shadow: 7px 7px 5px -2px #ccc;
  box-shadow:         7px 7px 5px -2px #ccc; */
}
#modalContainer{
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: pink; */
  display: grid;
  grid-template-rows: 3fr 5fr;
}
#modalTop {
  width: 100%;
  background: #FF4C3F;
  border-radius: 8px 8px 0 0;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 5vh;
}
#modalBottom {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 0 0 8px 8px;
}
#close{
  position: absolute;
  display: grid;
  justify-items: center;
  align-items: center;
  top: -20px;
  right: -20px;
  font-size: 20px;
  font-weight: bolder;
  cursor: crosshair;
}
#close:hover{
  font-size: 30px;
  color: #FF4C3F;
}
form {
  height: 100%;
  width: 100%;
  display: grid;
  margin: .5% 0;
  grid-template-columns: 1fr 1fr;
}
.form-group{
  width: 90%;
  color: black;
  margin: 0 4%;
  font-family: 'Lato', sans-serif;
}
.form-group input {
  line-height: 1.5;
  font-size: 1.5vh;
  width: 90%;
  border: 1px inset grey;
  border-radius: 3px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.form-group label{
  margin: 2% 0 2% 0;
  font-size: 1vh;
  display: flex;
}
#-message{
  grid-column: 1/3;
}
#form-message{
  height: 8vh;
  width: 100%;
  border: 1px inset grey;
  font-family: 'Lato', sans-serif;
  border-radius: 3px;
  margin-bottom: -1%;
}
.center{
  grid-column: 1/3;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}
#form-submit{
  height: 4vh;
  width: 4vh;
  display: grid;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  outline: none;
  border-radius: 50%;
  background-color: transparent;
  margin: 5px;
}
#form-submit-icon {
  text-align: left;
  font-size: 2vh;
}
#form-submit:hover{
  background-color: #33C3F7;
  color: #fff;
  box-shadow: 0 0 15px #33C3F7;
  border: 2px #33C3F7 solid;
}
#modalTitle {
  position: absolute;
  top: -4vh;
  font-size: 3vh;
}
.container{
  width: 100%;
  height: 100%;
}
#socialmedia {
  position: fixed;
  top: calc(50% - 120px);
  z-index: 1000;
}

/* about me ===================================================================== */
.aboutPage{
  display: grid;
  grid-template-columns: 2fr 4fr;

  
  
  
  /* font-family: 'Reenie Beanie', cursive;
  font-family: 'Unkempt', cursive;
  font-family: 'Megrim', cursive; */
}
#aboutContainer{
  display: grid;
  grid-template-columns: 90vw;
  grid-row-gap: 2vh;
  justify-items: center;
  align-items: center;
  margin: 0 5vw;
}
.pageTitle {
  grid-column: 1;
  grid-row: 1;
  justify-self: right;
  /* margin-right: 5vw; */
  border-bottom: #fff 1px solid;
  margin-top: 5vh;
}

.aboutContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 25vh 25vh 25vh; */
  justify-items: center;
  align-items: center;
}
#aboutPic {
  grid-column: 1/5;
  grid-row: 2;
  margin: 2vh 6vw 1vh 6vw;
}
#aboutPic img {
  height: 25vh;
  border: inset 3px grey;
  border-radius: 10px;
}
#aboutText, #aboutCredentials{
  /* margin: 1vh 6vw 2vh 6vw; */
}
#aboutText{
  grid-row: 3;
  line-height: 1.5;
  grid-column: 1/5;
  align-self: baseline;
}
#aboutCredentials {
  display: grid;
  grid-template-columns: auto auto;
  grid-row: 3;
  align-items: center;
  align-self: baseline;
  grid-column-gap: 8vw;
  grid-column: 1/5;
  color: white;
  line-height: 2;
}
#aboutMoreContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  line-height: 6vh;
  width: 10vw;
  bottom: 1vh;
  left: calc(50% - 5vw);
  align-items: center;
  opacity: .5;
  z-index: 20;
}
#aboutMore {
  transform: rotate(45deg);
  width: 3vw;
  height: 3vw;
  border-width: 0 12px 12px 0;
}
#aboutMoreContainer:hover{
  opacity: 1;
  transition: opacity .5s ease-in-out
}
#aboutMore:hover{
  opacity: 1;
  box-shadow: 2px 2px 2px 0px#fff;
  transition: opacity .5s ease-in-out;
}
#aboutMoreContainer:active{
  opacity: .8;
  transition: opacity .5s ease-in-out
}
#aboutMore:active{
  opacity: .5;
  box-shadow: 4px 4px 4px 0px#fff;
  transition: opacity .5s ease-in-out;
}


#aboutCredIcon{
  font-size: 20px;
}


/* home ================================================================================== */
.homeText{
  display: flex;
  justify-content: center;
  z-index: 0;
}



/* portfolio ======================================================================================== */
.portPage {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 26.666vw);
  grid-template-rows: 15vh;
  grid-row-gap: 5vh;
  grid-column-gap: 5vw;
  justify-items: center;
  align-items: center;
  margin: 5vh 5vw;
}





@media only screen and (max-width: 400px) {
  #socialmedia {
    top: 10px;
  }
  #close{
    display: none;
  }
}



