html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  /* background: green; */
  color: white;
  font-family: 'Lato', sans-serif;
  font-display: fallback;
  font-weight: 400;
  scroll-behavior: 
}
body a {
  color: inherit;
  text-decoration: none;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000; 
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

.circleBase {
  border-radius: 50%;
}

#navMenuBtn{
  display: flex;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  align-content: center;
  justify-content: center;
}

.pageTitle{
  font-size: 30px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

/*Key Frames ==========================================================================*/
@keyframes rollLeft {
  0% {
    transform: translateX(200%) rotate(180deg);
    /* opacity: 0; */
  }
  100% {
    transform: translateX(0) rotate(0deg);
    /* opacity: 1; */
  }
}

@keyframes shrink {
  0% {
    width: 0%;
  }
  100% {
    width: 200%;
  }
}

@keyframes tada {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fallDown {
  0% {
    transform: translateX(200%) rotate(180deg);
  }
  40% {
    transform: translateX(0) rotate(0deg) translateY(100px);
  }
  50%{
    transform: translateY(100px) ;
  }
  70%{
    transform: translateY(100px) rotate(200deg); 
    transform-origin: 20%;
  }
  /* 75%{
    transform: translateY(100px) rotate(150deg); 
    transform-origin: 20%;
  } */
  100%{
    transform: translateY(1000%);
  }
}


/*Page Specific Styling =================================================================*/
.pointerHover:hover{
  cursor: crosshair;
}



#testdiv {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.navGuide{
  font-size: 20px;
  color: #33C3F7;

}
#navGuide-L{ 
  position: absolute;
  top: calc(50% - 25px);
  left: 0px;
}
#navGuide-R{ 
  position: absolute;
  top: calc(50% - 25px);
  right: 0px;
}
#navGuide-U{ 
  position: absolute;
  width: 100%;
  text-align: center;
  top: -10px;
}
#navGuide-D{ 
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: -10px;
}


/* Making Arrows =============================================== */
i{
  position: 'fixed';
  border: solid;
  border-width: 0 5px 5px 0;
  height: 50px;
  width: 50px;
  display: inline-block;
}
.left {
  position: fixed;
  top: calc(50% - 50px);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
#l div{
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  transform: rotate(90deg);
}
.right {
  position: fixed;
  top: calc(50% - 50px);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#r div{
  position: absolute;
  top: calc(50% - 13px);
  right: 15px;
  transform: rotate(-90deg);
}
.up{
  position: fixed;
  margin-left: -30px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
#u div{
  position: absolute;
  width: 100%;
  top: 40px;
  text-align: center;
}
.down{
  position: fixed;
  margin-left: -30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#d div{
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
}